<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item *ngFor="let oneItem for listItems$">
      <ion-label>Title {{oneItem.title}}</ion-label>
      <ion-label>Visits {{oneItem.visits}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
